.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel {
  width: 500px;
  margin: 0 auto;
}

.main-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  margin: 0 auto;
 
}

.lead {
  font-family: 'Archivo Narrow', sans-serif;
  padding-top: 0rem;
}


@media all and (min-width: 570px) {
  .main-title {
    font-size: 87px;
  }
}

@media all and (min-width: 1000px) {
  .main-title {
    font-size: 150px;
  }
}
.main-title2 {
  font-size: 40px;
  font-family: 'Abril Fatface', sans-serif;
  color: green;
  padding-right: 1rem;
}